<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration >

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <!-- 配置开发环境 -->
    <environments default="develop">
        <environment id="develop">
            <!-- 样例数据.1指定事务管理 将事物交给JDBC来管理 -->
            <transactionManager type="JDBC"/>
            <!-- 样例数据.2datasource(数据源/连接池，)指定链接数据库的基本信息 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://192.168.4.13:3306/traceability_analysis_platform?characterEncoding=utf-8"/>
                <property name="username" value="wg_dba"/>
                <property name="password" value="wg_dba%2020"/>

                <!--<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://172.16.10.51:3306/traceability_analysis_platform?characterEncoding=utf-8"/>
                <property name="username" value="wg_dba"/>
                <property name="password" value="wgdb%2022"/>-->

            </dataSource>


        </environment>
    </environments>



    <!-- 导入mapper文件（sql语句） -->
    <mappers>
        <mapper resource="mapper/CaseDetailInfoMapper.xml"/>
        <mapper resource="mapper/CaseInfoMapper.xml"/>
    </mappers>


</configuration>