<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CaseDetailInfoMapper">
    <select id="getAllDetailData" parameterType="int" resultType="entity.CaseDetailInfo" flushCache="true" useCache="false">
        select *
        from case_detail_info
        where case_detail_id > #{caseDetailId} limit 100
    </select>

    <select id="getAllDetailDataByTime" resultType="entity.CaseDetailInfo" flushCache="true" useCache="false">
        select *
        from case_detail_info
        where case_detail_id > #{caseDetailId}
          and update_time > #{updateTime}
        order by case_detail_id asc limit 100
    </select>

    <select id="getAllDetailDataById"  resultType="entity.CaseDetailInfo" flushCache="true" useCache="false">
        select *
        from case_detail_info
        where case_detail_id = #{caseDetailId}
    </select>

</mapper>