<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CaseInfoMapper">
    <select id="getAllCaseInfo"  resultType="entity.CaseInfo" flushCache="true" useCache="false">
        select *
        from case_info
          where word_status = 3 and excel_status = 1 order by update_time asc limit 100
    </select>

    <select id="getAllCaseInfoByTime" resultType="entity.CaseInfo" flushCache="true" useCache="false">
        select *
        from case_info
        where  update_time > #{updateTime}
          and word_status = 3 and excel_status = 1
        order by update_time asc limit 100
    </select>


    <update id="updateExcelStatusBtId">
        update case_info set excel_status = #{status} where case_id = #{caseId}
    </update>

   <!-- end-->
    <update id="updateEndExcelStatusBtId">
UPDATE case_info a,
case_detail_info b
SET a.excel_status =  #{status}
WHERE
	b.case_id = #{caseId}
	AND a.case_id = b.case_id
	AND b.NAME LIKE "%xlsx%"
	AND b.analysis_status = "3"
	AND ( SELECT count(1) FROM case_detail_info b WHERE b.case_id = #{caseId} AND b.NAME LIKE "%xlsx%" AND b.analysis_status = "3" )=(
	SELECT
		count(1)
	FROM
		case_detail_info b
	WHERE
		b.case_id = #{caseId}
	AND b.NAME LIKE "%xlsx%")
</update>
</mapper>